.container {
    position: relative;
}

body {
    background-repeat: repeat;
    background-image: url('../images/background.jpg');
}

.ako {
    display: inline-block;
    background-color: violet;
    border-radius: 10px;
    border: black 1px solid;
    margin: 10px;
    margin-left: 20px;
}

.imgB {
    margin: 10px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: blueviolet 4px solid;
    background-color: violet;
    src: url("assets/images/ako1.png");
}

.board {
    top: 50%;
    left: 50%;
}


p {
    margin-bottom: 10px;
}